.item_details {
  padding: 2em;
}

.item_details h1,
.item_details h2,
.item_details p {
  margin-bottom: 0.5em;
}

.item_details h1 {
  background-color: #1F98AB;
  padding: 0.4em;
}

.item_details span {
  font-weight: bold;
}

.details_container,
.service_form_container {
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  background-color: #222;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  max-height: 40px;
  border: none;
}

.btn:hover {
  color: #1F98AB;
}

.item_info {
  width: 100%;
}